.nav-button {

	-fx-background-color: transparent;
	-fx-border-color: transparent;

	-fx-text-fill: #afccd6;
	-fx-fill: #415069
}

.nav-button.clicked {
	-fx-background-color: #c93e7126;
	-fx-border-color: #c93e71;
	-fx-text-fill: #c93e71;
	-fx-fill: #c93e71;
}

.nav-button:hover {

	-fx-text-fill: #c93e71;
	-fx-fill: #c93e71;
}

.navBar {
	-fx-background-color: #0d1521;
	-fx-border-color: #070c13;
}

.editor {
	-fx-background-color: #101a29;
	/* -fx-border-color: #070c13; */
}







.primaryLabel {
    -fx-text-fill: #00b3bd;
}

.secondaryLabel {
    -fx-text-fill: #3788ba;
}

.tertiaryLabel {
    -fx-text-fill: #c09b52;
}

.quaternaryLabel {
    -fx-text-fill: #c93e71;
}

.menu-bar {
    -fx-background-color: #070c13;
}

.menu-bar .menu:hover {
    -fx-background-color: #441f30;
}

.menu-bar .menu .label {
    -fx-text-fill: #3d567b;
}

.menu-bar .menu:hover .label {
    -fx-text-fill: #afccd6;
}

.menu-bar .menu:showing .label {
    -fx-text-fill: #afccd6;
}

.menu-bar .menu:showing {
    -fx-background-color: #53263b;
}

.menu-bar .menu:showing .menu .label {
    -fx-text-fill: #afccd6;
}

.menu-bar .menu:showing .menu:hover .label {
    -fx-text-fill: #fefdfd;
}

.menu-bar .menu .menu-item:focused {
    -fx-background-color: #53263b;
}

.menu-bar .menu .menu-item:focused .label {
    -fx-text-fill: #fefdfd;
}

.context-menu {
    -fx-background-color: #441f30;
    -fx-border-color: #000000;
}


.context-menu>*>.separator>.line {
    -fx-border-color: #2c1825;
}