.mainRoot {
	-fx-background-color: #101a29;
}

.startupRoot,
.dashboardRoot,
.salesRoot,
.purchasesRoot,
.inventoryRoot,
.accountingRoot,
.customersRoot,
.reportsRoot,
.settingsRoot,
.split-pane,
.settings-left,
.settings-right,
.tree-view,
.tree-item,
.settings-detail-view {
	-fx-background-color: #101a29;
}

.navBarRoot {
	-fx-background-color: #0d1521;
}

.mainRoot,
.navBarRoot,
.search-bar {
	-fx-border-color: #070c13;
}

.card {
	-fx-background-color: #0d1521;
	-fx-border-color: #92315a;
	-fx-padding: 10;
	-fx-border-radius: 10;
	-fx-background-radius: 10;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 20, 0, 0, 5);
}

/* ========================================================================== */
/* Button */
/* ========================================================================== */

.button {
	-fx-background-color: #291b2d;
	-fx-border-color: #92315a;
	-fx-text-fill: #afccd6;
}

.button:hover {
	-fx-background-color: #772c4d;
}

.button:disabled {
	-fx-background-color: transparent;

}

.button-hover {
	-fx-background-color: #772c4d;
}

.nav-button {

	-fx-background-color: transparent;
	-fx-border-color: transparent;

	-fx-text-fill: #afccd6;
	-fx-fill: #415069
}

.nav-button.clicked {
	-fx-background-color: #c93e7126;
	-fx-border-color: #c93e71;
	-fx-text-fill: #c93e71;
	-fx-fill: #c93e71;
}

.nav-button:hover {

	-fx-background-color: transparent;
	-fx-text-fill: #c93e71;
	-fx-fill: #c93e71;
}

.dashboard-card-category-button {
	-fx-background-radius: 5;
	-fx-border-radius: 5;
	-fx-border-color: #1e2d42;
	-fx-padding: 5;
	-fx-background-color: transparent;
}

.dashboard-card-selected-category {
	-fx-background-color: #c93e7126;
	-fx-border-color: #c93e71;
	-fx-text-fill: #c93e71;
	-fx-background-color: #c93e7126;
}

/* ========================================================================== */
/* Labels */
/* ========================================================================== */

.sales-page-entry-bar-title {
	-fx-text-fill: #c93e71;
}

.dashboard-title {
	-fx-text-fill: #bfccdf;
	-fx-font-size: 16px;
}

.dashboard-value {
	-fx-text-fill: #c93e71;
	-fx-font-size: 22px;
}

.dashboard-transactionID {
	-fx-text-fill: #c93e71;
}

.dashboard-purchase {
	-fx-text-fill: #bfccdf;
}

.dashboard-sale {
	-fx-text-fill: #bfccdf;
}

/* ========================================================================== */
/* Icons */
/* ========================================================================== */

.low {

	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-fill: #FFA500;
	-fx-font-size: 20px;
}

.very-low {

	-fx-background-color: transparent;
	-fx-border-color: transparent;
	-fx-fill: #FF4500;
	-fx-font-size: 20px;
}

/* ========================================================================== */
/* TextField */
/* ========================================================================== */

.text-field {
	-fx-border-color: #1e2d42;
	-fx-background-color: transparent;
	-fx-text-fill: #bfccdf;
	-fx-highlight-fill: #5b2946;
}

.text-field:focused {
	-fx-border-color: #49324e;
}

.valid {
	-fx-text-fill: #bfccdf;
}

.invalid {
	-fx-text-fill: red;
}

.not-found {
	-fx-text-fill: orange;
}

/* ========================================================================== */
/* Separator */
/* ========================================================================== */

.separator {
	-fx-background-color: #1e2d42;
}

.separator .line {
	-fx-border-color: null;
	-fx-pref-height: 1;

}

/* ========================================================================== */
/* Inventory */
/* ========================================================================== */

.pageHeader {
	-fx-text-fill: #c93e71;
}

/* ========================================================================== */
/* Settings */
/* ========================================================================== */

.settings-label {
	-fx-text-fill: #bacbe4;
}

.settings-item-title,
.settings-section-title {
	-fx-text-fill: #c93e71;
}

.settings-item-description,
.settings-item-checkbox {
	-fx-text-fill: #96afd5;
}

.settings-item {
	-fx-border-color: #101a29;
}

.settings-item:hover {
	-fx-background-color: #c93e7107;
	-fx-border-color: #c93e71;
}

/* ========================================================================== */
/* TreeView */
/* ========================================================================== */

/* .tree-view {
	-fx-text-fill: red;
} */

.tree-view .tree-cell {
	-fx-background-color: transparent;
	-fx-text-fill: #96afd5;
}

.tree-view .tree-cell:expanded {
	-fx-background-color: transparent;
}

.tree-view .tree-cell:collapsed {
	-fx-background-color: transparent;
}

.tree-view .tree-cell:selected {
	-fx-background-color: transparent;
	-fx-text-fill: #c93e71;
}

/* .tree-view .tree-cell:focused {
	-fx-border-color: #0096c9;
} */

/* ========================================================================== */
/* SplitPane */
/* ========================================================================== */

.split-pane:horizontal .split-pane-divider {
	-fx-background-color: #070c13;
}

.split-pane:vertical .split-pane-divider {
	-fx-background-color: #070c13;
}

/* ========================================================================== */
/* ComboBox */
/* ========================================================================== */

.combo-box {
	-fx-background-color: transparent;
	-fx-border-color: #1e2d42;
	-fx-text-fill: #bfccdf;
}

.combo-box:showing {
	-fx-border-color: #92315a;
}

.combo-box:showing .arrow-button .arrow {
	-fx-background-color: #92315a;
}

.combo-box .arrow-button {
	-fx-background-color: transparent;
	/* -fx-border-color: #1e2d42; */
}

.combo-box .arrow-button .arrow {
	-fx-background-color: #1e2d42;
}

.combo-box .list-cell {
	-fx-background-color: transparent;
	-fx-text-fill: #afccd6;
}

.combo-box .list-cell:filled {
	-fx-text-fill: #afccd6;
}

.combo-box .list-cell:filled:hover {
	-fx-background-color: #291b2d;
}

.combo-box .list-view {
	-fx-background-color: #101A29;
	-fx-border-color: #1e2d42;
}

/* ========================================================================== */
/* Table */
/* ========================================================================== */

.table-view {
	-fx-background-color: #0d1521;
	-fx-table-cell-border-color: #1e2d42;
	-fx-border-color: #92315a;
	-fx-border-radius: 3px;
	-fx-background-radius: 3px;
}

.table-view .column-header-background {
	-fx-background-color: transparent;
}

.table-view .column-header-background .filler {
	-fx-background-color: #c93e7126;
}


.table-view .column-header {
	-fx-background-color: #c93e7126;
	-fx-font-weight: bold;
	-fx-font-size: 14px;
}

.table-row-cell,
.table-row-cell:even {
	-fx-background-color: #101A29;
}

.table-row-cell:odd {
	-fx-background-color: #0d1521;
}

.table-row-cell:selected {
	-fx-background-color: #c93e7126;
	-fx-table-cell-border-color: #1e2d42;
}

.table-cell {
	-fx-background-color: transparent;
}

.table-view .table-cell,
.table-view .table-cell:selected {
	-fx-text-fill: #afccd6;
}

.table-view .column-header .label {
	-fx-text-fill: #c93e71;
}

/* ========================================================================== */
/* List */
/* ========================================================================== */

.list-view {
	-fx-background-color: #0d1521;
	-fx-border-color: #92315a;
	-fx-border-radius: 3px;
	-fx-background-radius: 3px;
}

.list-view .list-cell {
	-fx-background-color: #101A29;
	-fx-text-fill: #afccd6;
}

.list-view .list-cell:selected {
	-fx-background-color: #c93e7126;
	-fx-border-color: #1e2d42;
}

.list-view .list-cell:odd {
	-fx-background-color: #0d1521;
}

.list-view .list-cell:even {
	-fx-background-color: #101A29;
}

.list-view .list-cell .label {
	-fx-text-fill: #afccd6;
}

/* ========================================================================== */
/* LineChart */
/* ========================================================================== */

.chart-plot-background {
	-fx-background-color: #0d1521;
	-fx-padding: 10;
}

.chart-content {
	-fx-padding: 20px;
}

.chart-vertical-grid-lines,
.chart-horizontal-grid-lines {
	-fx-stroke: #1e2d42;
}

.chart-alternative-row-fill {
	-fx-fill: #101A29;
}

.chart-title {
	-fx-text-fill: #c93e71;
	-fx-font-weight: bold;
	-fx-font-size: 22px;
}

.axis {
	-fx-tick-label-fill: #3788ba;
	-fx-tick-mark-length: 10;
	-fx-font-size: 14px;
	-fx-minor-tick-count: 0;
}

.axis-label {
	-fx-text-fill: #c93e71;
	-fx-font-weight: bold;
	-fx-font-size: 18px;
}

.chart-legend {
	-fx-background-color: #0d1521;
}

.chart-legend-item {
	-fx-text-fill: #bfccdf;
}

.chart-series-line {
	-fx-stroke-width: 2px;
}

/* .default-color0.chart-line-symbol,
.default-color1.chart-line-symbol,                                                                                                                                                                                                               
.default-color2.chart-line-symbol,
.default-color3.chart-line-symbol,
.default-color4.chart-line-symbol,
.default-color5.chart-line-symbol,
.default-color6.chart-line-symbol,
.default-color7.chart-line-symbol {
	-fx-background-radius: 0px;
	-fx-padding: 0px;
} */

.onHover {
	-fx-scale-x: 1.5;
	-fx-scale-y: 1.5;
}

.chart-legend-item .chart-line-symbol {
	-fx-padding: 5px;
	-fx-background-radius: 5px;
}

/* ========================================================================== */
/* PieChart */
/* ========================================================================== */

.pie-chart {
	-fx-padding: 10px;
}

.chart-pie {
	-fx-border-color: derive(-fx-pie-color, -40%);
	-fx-border-width: 0px;
}

.chart-pie-label {
	-fx-font-size: 10px;
	-fx-fill: white;
}

.chart-pie data {
	-fx-stroke-width: 0;
	-fx-stroke: transparent;
}

/* ========================================================================== */
/* ScrollPane */
/* ========================================================================== */

.scroll-pane {
	-fx-background-color: transparent;
	-fx-border-width: 0;
}

.scroll-pane .viewport {
	-fx-background-color: transparent;
	-fx-border-width: 0;

}



/* ========================================================================== */
/* ScrollBar */
/* ========================================================================== */

.scroll-bar:vertical .thumb,
.scroll-bar:horizontal .thumb {
	-fx-background-color: #281f33;
}

/* Remove the increment button */

.scroll-bar:vertical,
.scroll-bar:horizontal,
.scroll-bar:vertical .increment-button .increment-arrow,
.scroll-bar:vertical .increment-button .increment-arrow,
.scroll-bar:vertical .decrement-button .decrement-arrow,
.scroll-bar:vertical .decrement-button .decrement-arrow,
.scroll-bar:horizontal .increment-button .increment-arrow,
.scroll-bar:horizontal .decrement-button .decrement-arrow,
.scroll-bar:horizontal .increment-button .increment-arrow,
.scroll-bar:horizontal .decrement-button .decrement-arrow {
	-fx-background-color: transparent;
}

/* ========================================================================== */
/* Tab Pane */
/* ========================================================================== */

.tab-pane .tab {
	-fx-background-color: #0d1521;
}

.tab {
	-fx-padding: 5 10;
	/* -fx-font-size: 14px; */
	-fx-border-radius: 3px 3px 0px 0px;
	-fx-border-width: 1 1 0 1;
}

.tab:selected {
	-fx-border-color: #c93e71;
}

.tab-pane .tab .tab-label {
	-fx-text-fill: #afccd6;
	-fx-font-size: 14px;
	-fx-font-weight: bold;
	-fx-font-family: 'Segoe UI';
}

.tab-pane .tab:selected .tab-label,
.tab-pane .tab:hover .tab-label {
	-fx-text-fill: #c93e71;
}

.tab-pane .tab:disabled .tab-label {
	-fx-text-fill: #415069;
}


.tab-header-area {
	-fx-padding: 0;
	-fx-border-width: 0;
}

.tab-header-area .tab-header-background {
	-fx-background-color: transparent;
}


.tab-content-area {
	-fx-background-color: #0d15217e;
	-fx-background-radius: 0px 3px 3px 3px;
	-fx-padding: 0;
	-fx-border-color: #92315a;
	-fx-border-width: 1;
	-fx-border-radius: 0px 3px 3px 3px;

}

.new-tab-open .tab-content-area {
	-fx-border-radius: 0px 3px 3px 3px;
}

.edit-tab-open .tab-content-area {
	-fx-border-radius: 3px 3px 3px 3px;
}

/* ========================================================================== */
/*  */
/* ========================================================================== */

.navBar {
	-fx-background-color: #0d1521;
	-fx-border-color: #070c13;
}

.editor {
	-fx-background-color: #101a29;
}

.primaryLabel {
	-fx-text-fill: #00b3bd;
}

.secondaryLabel {
	-fx-text-fill: #3788ba;
}

.tertiaryLabel {
	-fx-text-fill: #c09b52;
}

.quaternaryLabel {
	-fx-text-fill: #c93e71;
}

.menu-bar {
	-fx-background-color: #070c13;
}

.menu-bar .menu:hover {
	-fx-background-color: #441f30;
}

.menu-bar .menu .label {
	-fx-text-fill: #3d567b;
}

.menu-bar .menu:hover .label {
	-fx-text-fill: #afccd6;
}

.menu-bar .menu:showing .label {
	-fx-text-fill: #afccd6;
}

.menu-bar .menu:showing {
	-fx-background-color: #53263b;
}

.menu-bar .menu:showing .menu .label {
	-fx-text-fill: #afccd6;
}

.menu-bar .menu:showing .menu:hover .label {
	-fx-text-fill: #fefdfd;
}

.menu-bar .menu .menu-item:focused {
	-fx-background-color: #53263b;
}

.menu-bar .menu .menu-item:focused .label {
	-fx-text-fill: #fefdfd;
}

.context-menu {
	-fx-background-color: #441f30;
	-fx-border-color: #000000;
}

.context-menu>*>.separator>.line {
	-fx-border-color: #2c1825;
}

.menu-bar {
	-fx-background-color: #070c13;
}

.menu-bar .menu:hover {
	-fx-background-color: #441f30;
}

.menu-bar .menu .label {
	-fx-text-fill: #3d567b;
}

.menu-bar .menu:hover .label {
	-fx-text-fill: #afccd6;
}

.menu-bar .menu:showing .label {
	-fx-text-fill: #afccd6;
}

.menu-bar .menu:showing {
	-fx-background-color: #53263b;
}

.menu-bar .menu:showing .menu .label {
	-fx-text-fill: #afccd6;
}

.menu-bar .menu:showing .menu:hover .label {
	-fx-text-fill: #fefdfd;
}

.menu-bar .menu .menu-item:focused {
	-fx-background-color: #53263b;
}

.menu-bar .menu .menu-item:focused .label {
	-fx-text-fill: #fefdfd;
}

.context-menu {
	-fx-background-color: #441f30;
	-fx-border-color: #000000;
}


.context-menu>*>.separator>.line {
	-fx-border-color: #2c1825;
}





.check-box .box {
	-fx-background-color: transparent;
	-fx-border-color: #1e2d42;

}

.check-box:focused .box {
	-fx-border-color: #48324d;
}

.check-box:selected .mark {
	-fx-background-color: #bfc9ce;

}



/* ========================================================================== */
/* Chart Series Colors */
/* ========================================================================== */

.default-color0.chart-series-line {
	-fx-stroke: #c93e71;
}

.default-color0.chart-line-symbol {
	-fx-background-color: #c93e71, transparent;
}

.default-color1.chart-series-line {
	-fx-stroke: #00b3bd;
}

.default-color1.chart-line-symbol {
	-fx-background-color: #00b3bd, transparent;
}

.default-color2.chart-series-line {
	-fx-stroke: #a9dc76;
}

.default-color2.chart-line-symbol {
	-fx-background-color: #a9dc76, transparent;
}

.default-color3.chart-series-line {
	-fx-stroke: #e15fd8;
}

.default-color3.chart-line-symbol {
	-fx-background-color: #e15fd8, transparent;
}

.default-color4.chart-series-line {
	-fx-stroke: #ff4319;
}

.default-color4.chart-line-symbol {
	-fx-background-color: #ff4319, transparent;
}

.default-color5.chart-series-line {
	-fx-stroke: #81b88b;
}

.default-color5.chart-line-symbol {
	-fx-background-color: #81b88b, transparent;
}

.default-color6.chart-series-line {
	-fx-stroke: #355484;
}

.default-color6.chart-line-symbol {
	-fx-background-color: #355484, transparent;
}

.default-color7.chart-series-line {
	-fx-stroke: #6a5acd;
}

.default-color7.chart-line-symbol {
	-fx-background-color: #6a5acd, transparent;
}

.default-color0.chart-line-symbol {
	-fx-background-color: #c93e71, #c93e71;
}

.default-color1.chart-line-symbol {
	-fx-background-color: #00b3bd, #00b3bd;
}

.default-color2.chart-line-symbol {
	-fx-background-color: #a9dc76, #a9dc76;
}

.default-color3.chart-line-symbol {
	-fx-background-color: #e15fd8, #e15fd8;
}

.default-color4.chart-line-symbol {
	-fx-background-color: #ff4319, #ff4319;
}

.default-color5.chart-line-symbol {
	-fx-background-color: #81b88b, #81b88b;
}

.default-color6.chart-line-symbol {
	-fx-background-color: #355484, #355484;
}

.default-color7.chart-line-symbol {
	-fx-background-color: #6a5acd, #6a5acd;
}

.data0.chart-pie {
	-fx-pie-color: #c93e71;
}

.data1.chart-pie {
	-fx-pie-color: #00b3bd;
}

.data2.chart-pie {
	-fx-pie-color: #a9dc76;
}

.data3.chart-pie {
	-fx-pie-color: #e15fd8;
}

.data4.chart-pie {
	-fx-pie-color: #ff4319;
}

.data5.chart-pie {
	-fx-pie-color: #81b88b;
}

.data6.chart-pie {
	-fx-pie-color: #355484;
}

.data7.chart-pie {
	-fx-pie-color: #6a5acd;
}

.data8.chart-pie {
	-fx-pie-color: #ffa07a;
}

.data9.chart-pie {
	-fx-pie-color: #20b2aa;
}

.data10.chart-pie {
	-fx-pie-color: #ff6347;
}

.data11.chart-pie {
	-fx-pie-color: #4682b4;
}

.data12.chart-pie {
	-fx-pie-color: #dda0dd;
}

.data13.chart-pie {
	-fx-pie-color: #bdb76b;
}

.data14.chart-pie {
	-fx-pie-color: #6495ed;
}

.data15.chart-pie {
	-fx-pie-color: #d2691e;
}

.data16.chart-pie {
	-fx-pie-color: #ff1493;
}

.data17.chart-pie {
	-fx-pie-color: #008b8b;
}

.data18.chart-pie {
	-fx-pie-color: #ffd700;
}

.data19.chart-pie {
	-fx-pie-color: #87ceeb;
}

.data20.chart-pie {
	-fx-pie-color: #32cd32;
}

.data21.chart-pie {
	-fx-pie-color: #b22222;
}

.data22.chart-pie {
	-fx-pie-color: #ee82ee;
}

.data23.chart-pie {
	-fx-pie-color: #8a2be2;
}

.data24.chart-pie {
	-fx-pie-color: #40e0d0;
}

.data25.chart-pie {
	-fx-pie-color: #ff7f50;
}

.greyed-out {
	-fx-stroke: transparent;
	-fx-background-color: transparent, transparent;
	-fx-stroke-width: 0;
}